[Desktop Entry]
Version=1.0
Exec=bash /home/pi/caixa-magica/start_monitor.sh
Name=Caixa Magica
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application;Network;

